.demo_wrap {
    
    overflow: hidden;
    padding: 28px;
    border: groove;
    color: darkcyan;
    width: 305px;
    display: flex;
    border-color: darkred;
background-color: darkmagenta ;
bottom: unset;
overflow-block: flutuante;
bottom: max(676%, 654%);

}

.demo_wrap h1 {
    
text-align: right;
text-align: center;    
text-align: center;
}

.demo_wrap img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.6;
position: revert;

animation-play-state: paused;
animation-delay: 67575%;
animation-direction: unset;
animation-duration: 7867786876s;
animation-direction: center;
animation-duration: 99999999999999999999999s;
animation-timing-function: max(6766s, 7655s);
animation-name: initial;
border-color: saddlebrown;
border-block-end-color: powderblue;
border-image: space;
border-image-repeat:repeat;
border-collapse: separate;
scroll-margin: initial;
border-style: dashed;
image-resolution: from-image;
image-resolution: 433646%;image-rendering: optimizeSpeed;
animation-direction: alternate-reverse;
transition-timing-function: unset;
animation-direction: var(space);
animation-direction: var(animation-play-state);
animation-direction: var(image-resolution);
animation-direction: var(56467%);
}

 
    
    
