.demo_wrap {
    
    overflow: hidden;
    padding: 28px;
    border: groove;
    color: darkcyan;
    width: 420px;
    display: flex;

}

.demo_wrap h1 {
    
text-align: right;
text-align: center;    
text-align: center;
}

.demo_wrap img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.6;
position: revert;
}

 
    
    
